*
{
    text-align: center;
    background-color: #ffcdb2;
    color: #6d6875;
    font-family: 'Times New Roman', Times, serif;  
}

p
{
    font-size: 20px;
    line-height: 40px;
    width: auto;
    margin: 0;
}

span
{
    border: 2px solid #e5989b;
    padding: 5px;
    margin: 10px;
}

h1 {
    font-size: 50px;
}

h2 {
margin: 0;}

div {
    margin-top: 120px;
    margin-bottom: 120px;
}

div > span {
    font-size: 25px;
    margin: 50px;
}

section {
    padding: 20px;
    border-top: 2px dashed #6d6875 ;
    border-bottom: 2px dashed #6d6875 ;
}
